{% extends "blog/base.html" %}
{% block title %}Share a post{% endblock %}
{% block content %}
 {% if sent %}
 <h1>E-mail successfully sent</h1>
 <p>
 "{{ post.title }}" was successfully sent to {{ form.cleaned_
data.to }}.
 </p>
 {% else %}
 <h1>Share "{{ post.title }}" by e-mail</h1>
 <form method="post">
 {{ form.as_p }}  {% comment %}Note for myself: displays form as a paragraph, 
 you can also diplay it as a table or as an unordered list  {% endcomment %}
 {% csrf_token %} {% comment %} this is present in all django forms with post
request to avoid malicious attacks {% endcomment %}
 <input type="submit" value="Send e-mail">
 </form>
 {% endif %}
{% endblock %}